<div class="container mt-5 mb-5">
  

  <div class="row">
    <div class="col-lg-12">
       <div class="card">
  <form [formGroup]="form" (ngSubmit)="Onsubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password"  formControlName="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label class="form-label" for="exampleCheck1">Date</label>
      <input type="date"  formControlName="date" class="form-control" id="exampleCheck1">
      
    </div>
    <div class="mb-3">
      <label for="Model" class="form-label">Model</label>
      <select  formControlName="model" class="form-select" aria-label="Default select example" id="model" >
        <!-- <option selected *ngFor="let dropDowns of dropDowns">--Select--</option>
        <option [value]="dropDowns">{{dropDowns}}</option>
      ====This is for getting dropdown keys from database -->
        <option selected>--Model--</option>
        <option value="Ford">Ford</option>
        <option value="Mahindra">Mahindra</option>
        <option value="Maruti">Maruti</option>
        <option value="Tata">Tata</option>

        <!-- =====Above keys are hard coded one(as of now)==== -->
  
      </select>
      
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  
  </form>
  </div> 
    </div>
    

</div>

<div class="container mt-5 mb-5">
  <div class="row">
  
  <!-- =====Buttons for Showing report and download it as excel file====     -->
  <div class="col-lg-12 button">
    <button  (click)="getFormValues()" class="btn btn-success">Show Report</button> 
    <button (click)="exportexcel()" class="btn btn-secondary">Export to Excel</button>
  </div>

    </div>
  </div>



<div class="container mt-5 mb-5">
  <div class="row">

    <!-- =======Table Template==== -->

    <div class="col-lg-12">
    
      <table class="table table-bordered table-striped" id="excel-table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Date</th>
            <th scope="col">Model</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of valueFromForm">
            <th scope="row">{{item.id}}</th>
            <td>{{item.email}}</td>
            <td>{{item.password}}</td>
            <td>{{item.date}}</td>
            <td>{{item.model}}</td>
          </tr>
          
        </tbody>
      </table>
  </div>
  </div>
</div>













<!-- ========form========== -->
<!-- <div class="card">
  <form [formGroup]="form" (ngSubmit)="Onsubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password"  formControlName="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label class="form-label" for="exampleCheck1">Date</label>
      <input type="date"  formControlName="date" class="form-control" id="exampleCheck1">
      
    </div>
    <div class="mb-3">
      <select  formControlName="model" class="form-select" aria-label="Default select example">
        <option selected>--Select--</option>
        <option value="Ford">Ford</option>
        <option value="Mahindra">Mahindra</option>
        <option value="Maruti">Maruti</option>
        <option value="Tata">Tata</option>

      </select>
      
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  
  </form>
</div> -->



<!-- ===================table============ -->


<!--   
<div style=" margin: auto; width: 50%;">
  <button (click)="exportexcel()">Export to Excel</button>
 
  <table id="excel-table">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let item of valueFromForm">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.username}}</td>
      <td>{{item.email}}</td>
    </tr>
  </table>
</div> -->







<!-- 

Fetch


<button  (click)="getFormValues()" class="btn btn-primary">Fetch Values</button> -->











<!-- ==========================new form== -->





  <!-- ======new table == -->

  
