

.card{
    margin-top: 10px;
    border: none;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    ===TESTING===*/
    width: 500px;
    padding: 40px;
    left:30%;
    /* background: hsla(205, 40%, 30%, 1);
    background: linear-gradient(90deg,hsla(260, 29%, 36%, 1)0%, rgb(5, 44, 71) 100%); TESTING*/
    background: linear-gradient(90deg, rgb(135, 153, 167)0%, hsla(260, 29%, 36%, 1)100%)

}

.button{
    display: flex;
    justify-content: space-between;
}
